body{
    margin: 0;
    font-family: 'babak One' , cursive;
    text-align: center;
    background-image: url(pexels-markusspiske-1752757.jpg);
    background-size: cover;
    color: white;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 15%;
    
    
}

.score{
    vertical-align: middle;
}
.score h2{
    background-color: greenyellow;
    height: 70px;
    width: 90px;
    color: black;
    font-size: 40px;
    padding-top: 10%;
    margin: auto;
    margin-bottom: 20%;

}

.score button{
    background-color: black;
    color: white;
    border: 1px solid wheat;
    padding: 10px;
}

.reset button{
    padding: 20px;
    font-size: 30px;
    background-color: aqua;
}